*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
}
.container{
    max-width:1200px;
    font-family: "Fredoka";sans-serif;
    margin:0 auto;
  
}
h1{
    color:rgb(206, 48, 206);
}
.card{
    float:left;
    width:300px;
    margin:10px;
    background-color: black;
}
img{float:left;
    height:100px;
}
h3,h5{
    color:white;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.white{
    color:white;
}
a , ul{
    text-decoration: none;
    color:lightblue;
}
.column{
    width:calc(100% / 3- 150px);
    margin:0 75px;
    padding-top:30px;
}
